<ion-view view-title="订单详情" hide-nav-bar="true">
	<ion-header-bar class="bar-assertive header-back">
		<div class="buttons">
			<button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
		</div>
		<h1 class="title">订单详情</h1>
		<div class="buttons" ng-if="orderInfo.orderStatus == 0 && type == 'shops'" ng-click="rejectContent()">
			<button class="button button-clear">拒绝</button>
		</div>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<!--<div class="yd-shops-avatar">-->
			<!--<img src="img/ali_logo.png">-->
		<!--</div>-->
		<div class="yd-shops-order">
			<p>用户手机号：{{orderInfo.mobile || '暂无'}}</p>
			<p>下&nbsp;单&nbsp;时&nbsp;间：{{orderInfo.createtime*1000 | date:'yyyy-MM-dd HH:mm'}}</p>
			<p>订&nbsp;单&nbsp;编&nbsp;号：{{orderInfo.orderId}}</p>
			<p>订&nbsp;单&nbsp;金&nbsp;额：{{orderInfo.orderPrice}}元</p>
			<p>用&nbsp;户&nbsp;备&nbsp;注：{{orderInfo.remarks || '暂无'}}</p>
			<p ng-if="type == 'user'">支&nbsp;付&nbsp;商&nbsp;家：{{orderInfo.shopsName}}</p>
			<h3 ng-if="type == 'user'">状态：<span class="positive" ng-bind="statusName[orderInfo.orderStatus]"></span></h3>
			<h3 ng-if="type == 'shops'">支付金额：<span class="positive">{{orderInfo.orderPrice}}元</span></h3>
		</div>
		<div class="yd-refure-cont" ng-if="orderInfo.refuseRemark && orderInfo.orderStatus == -1">拒绝原因：{{orderInfo.refuseRemark}}</div>
		<div class="yd-refure-cont" ng-if="orderInfo.refuseRemark && orderInfo.orderStatus == -2">拒绝原因：<p ng-bind-html="orderInfo.refuseRemark"></p></div>
		<div ng-if="type == 'shops'">
			<button class="button button-block button-assertive zl_btn_center" ng-disabled = 'orderInfo.orderStatus != 0' ng-class="{'light': orderInfo.orderStatus != 0}" ui-sref="shops.pay({orderId:orderInfo.orderId, spid:orderInfo.spid, payPrice: orderInfo.payPrice})" ng-bind="statusName[orderInfo.orderStatus] || '加载中'"></button>
			<div class="yd-pay-voucher"><span ng-click="showVoucher()">点击查看支付凭证<i class="iconfont icon-right"></i></span></div>
		</div>
	</ion-content>
</ion-view>

